<tr>
  <td><%= menu.order_date %></td>
  <td><%= menu.title %></td>
  <td><%= menu.dish_category %></td>   
  <td><%= menu.description %></td>
  <td><%= number_to_currency(menu.price) %> </td>       
  <td><%= button_to 'Add to Cart', line_items_path(menu_id: menu) %></td>
  <% if current_user.admin? %>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
