<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
        	<h2>Your lunch order </h2>
            <table class="table table-hover">
                <thead>
                <% @cart.line_items.each do |item| %>
                        <tr>
                            <th>Dish</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#">
                                    <%= image_tag item.menu.image(:thumb) %>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= item.menu.title %></h4>
                                    <h5 class="media-heading"> category: <%= item.menu.dish_category %></h5>
                                </div>
                            </div></td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value=<%= item.quantity %> &times;>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(item.menu.price) %></strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(item.total_price) %></strong></td>
                            <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button></td>
                        </tr>
                    <% end %>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong><%= number_to_currency(@cart.total_price) %></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <%= link_to "Continue Shopping", root_path, class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
                       </td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                        <td>
                            <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

